body{
  background-color: #d4dee4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
  width: 60%;
  height: 600px;
  background-color: #2990c7;
  transform: translate(30%);
}

.tituloh1 {

  width: 600px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  /* Estilo da caixa branca */
  background-color: #fff; /* Cor de fundo branca */
  color: #2990c7; /* Fonte azul */
  font-size: 50px;
  font-weight: bolder;
  padding: 20px; /* Espaçamento interno */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Efeito de profundidade */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-bottom: 100px;
}

.tituloh2 {
  width: 300px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  /* Estilo da caixa branca */
  background-color: #fff; /* Cor de fundo branca */
  color: #2990c7; /* Fonte azul */
  font-size: 30px;
  font-weight: bolder;
  padding: 20px; /* Espaçamento interno */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Efeito de profundidade */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para os botões */
.myButtons {
  width: 250px;
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #f0f0f0;
  color: #2990c7;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.myButtons:hover {
  background-color: #dcdcdc; /* Escurecendo o fundo no hover */
  color: #1e5f74; /* Mudando a cor do texto no hover */
}

/* Remoção de comentários */

