body{
    background-color: #d4dee4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .box{
    width: 60%;
    height: 600px;
    background-color: #2990c7;
    transform: translate(30%);
  }
  
  .tituloh1 {
  
    width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: #fff; 
    color: #2990c7; 
    font-size: 50px;
    font-weight: bolder;
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px;
  }
  
  .myButtons {
    width: 300px;
    height: 100px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-160%,20%);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #f0f0f0;
    color: #2990c7;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .myButtons:hover {
    background-color: #dcdcdc; 
    color: #1e5f74; 
  }


  .generatedPassword{
    height: 150px;
    width: 500px;
    background-color: #d4dee4;
    font-size: 40px;
    font-weight: bolder;
    color: red;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    transform: translate(35%, 15%);
  }

 .password{
    width: 300px;
    border: red;
    border-style: solid;
    position: relative;
    transform: translate(30%, -50%);
    font-size: 60px;
    border-width: 5px;
 } 
  
 .password-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  
  .priority {
    color: red; /* Cor para senhas prioritárias */
  }
  
  .normal {
    color: green; /* Cor para senhas normais */
  }

  .passwordEmpty{
    height: 120px;
    width: 400px;
    background-color: #fff;
    font-size: 50px;
    font-weight: bolder;
    color: green;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px, 10px, 10px, 10px;
    position: relative;
    transform: translate(90%, 70%);
 }
  

 .currentlyPassword{
    height: 150px;
    width: 300px;
    background-color: yellow;
    font-size: 40px;
    font-weight: bolder;
    color: green;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    transform: translate(25%, 80%);
 }


 .nextPasswords{
    display: flex;
    height: 380px;
    width: 480px;
    background-color: #d4dee4;
    font-size: 40px;
    font-weight: bolder;
    color: red;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    transform: translate(115%, -75%);
 }

 .ulNextPasswords{
  height: 80%;
  width: 80%;
  position: relative;
  transform: translate(10%,10%);
 }
  
 .ulNextPasswords li {
  padding-bottom: 10px; /* Adicione o preenchimento entre os itens */
}